
//  Dropdown Card Example 
.card.shadow.mb-4
  //  Card Header - Dropdown 
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    h6.m-0.font-weight-bold.text-primary Dropdown Card Example
    .dropdown.no-arrow
      a.dropdown-toggle#dropdownMenuLink(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
      .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby="dropdownMenuLink")
        .dropdown-header Dropdown Header:
        a.dropdown-item(href="#") Action
        a.dropdown-item(href="#") Another action
        .dropdown-divider
        a.dropdown-item(href="#") Something else here
  //  Card Body 
  .card-body.
    
    Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
    
//  Collapsable Card Example 
.card.shadow.mb-4
  //  Card Header - Accordion 
  a.d-block.card-header.py-3(href="#collapseCardExample", data-toggle="collapse", role="button", aria-expanded="true", aria-controls="collapseCardExample")
    h6.m-0.font-weight-bold.text-primary Collapsable Card Example
  //  Card Content - Collapse 
  .collapse.show#collapseCardExample
    .card-body
      | This is a collapsable card example using Bootstrap's built in collapse functionality. 
      strong Click on the card header
      |  to see the card body collapse and expand!

//  /.container-fluid 